*{
    margin:0;
    padding:0;
}

body{
    font-size:16px;
    font-family:Arial, Helvetica, sans-serif;
    background-color:#D6DCEF;
    height:100vh; 
}

a{
    text-decoration: none;
    color:white;
}

p{
    font-size:20px;
}


header{
    padding: 5vh 0;
    width:100%;
    background-image:url(../Assets/Images/Header\ Background\ Image.jpg);
    background-size:cover;
    color:white;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

header h1{
    display:inline;
    font-size:60px;
}

header nav{
    display:flex;
    /* flex-wrap:wrap; */
    align-items: flex-end;
}

header ul{
    list-style:none;
    display:flex;
 
}
 header li{
    display:inline;
    font-size:24px;
    font-weight: 900;
    margin-right:40px;
    
}

main{
    margin: 0 8%;
}

#About-Me{
    padding-top:40px;
    height:auto;
    overflow:auto;
    margin-bottom:30px;
}

#About-Me h2{
    width:30%;
    display:inline;
}

#About-Me p{
    width:70%;
    display:inline;
    float:right;
}

#Projects{
    overflow: auto;
    /* width:100%;
    height:1000px; */
}

#Projects h2{
    display:inline;
    width:30%;
    /* float:left; */
    
}

#Projects div{
    width:70%;
    display:inline;
    float:right;
    flex-wrap: wrap;
    flex-direction: column;
}

#Projects #firstProject{
    max-height:auto;
    max-width:100%;
}

#Projects img{
    display:inline;
    max-height:auto;
    max-width:49%;
}

footer{
    color:white;
    background-color:#61687A;
    text-align:center; 
}

footer img{
    width:60px;
    height:auto;
    margin: 20px  10px;
}

@media screen and (max-width: 1000px){
    header{
        flex-direction: column;
        justify-content:center;
    }
}