*{
    margin:0;
    padding:0;
}

body{
    font-size:16px;
    font-family:Arial, Helvetica, sans-serif;
    background-color:#D6DCEF;
}

a{
    text-decoration: none;
    color:white;
}

p{
    font-size:20px;
}

h1{
    font-size:60px;
}

header{
    text-align:center;
    padding: 100px 0;
    width:100%;
    background-image:url(../assets/Images/Header\ Background\ Image.jpg);
    background-size:cover;
    color:white;
}

header ul{
    list-style:none;
    margin-top:40px;
}
 header li{
    margin-bottom:20px;
    font-size:24px;
    font-weight: 900;
}

main{
    margin: 0 8%;
}

#About-Me{
    margin-top:40px;
    width:auto;
    height:300px;
}

#About-Me h2{
    width:30%;
    display:inline;
}

#About-Me p{
    width:70%;
    display:inline;
    float:right;
}

#Projects{
    width:auto;
    height:auto;
}

#Projects h2{
    display:inline-block;
    width:30%;
    /* float:left; */
    
}

#Projects div{
    width:70%;
    display:inline;
    float:right;
    flex-direction: column;
    flex-wrap: wrap;
}

#Projects #firstProject{
    max-height:auto;
    max-width:100%;
}

#Projects img{
    max-height:auto;
    max-width:50%;
}

